@import '../../style-var/index';

.bbui-dialog__mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $bbui-z-index;
  width: 100%;
  height: 100vh;
  background-color: $bbui-dialog-mask;
}

.bbui-dialog {
  position: absolute;
  right: 0;
  left: 0;
  padding: $bbui-dialog-padding;
  margin: 0 auto;
  background-color: $bbui-clean-color;
  border-radius: $bbui-dialog-border-radius;
}

.bbui-dialog__header {
  padding: $bbui-dialog-header-padding;
  font-size: $bbui-font-size-header;
  font-weight: 700;
}

.bbui-dialog__default {
  min-height: 120px;
  padding: 30px 0;
}

.bbui-dialog__footer {
  padding-top: 10px;
}
