@import '../theme/theme';

$cls-prefix: bbui;
$bbui-dialog-z-index: var(--bbui-dialog-z-index, 9999);
$bbui-dialog-mask: var(--bbui-dialog-mask, rgb(127 127 127 / 50%));
$bbui-dialog-padding: var(--bbui-dialog-padding, (28px 24px));
$bbui-dialog-border-radius: $bbui-border-radius;
$bbui-dialog-header-padding: var(--bbui-dialog-header-padding, (16px 0));
$bbui-font-size-header: var(--bbui-font-size-header, 20px);
$bbui-input-focus-border-color: var(--bbui-input-focus-border-color, #409eff);
$bbui-input-border-radius: var(--bbui-input-border-radius, 4px);
$bbui-input-bg: var(--bbui-input-bg, #fff);
$bbui-input-border-color: var(--bbui-input-border-color, #dcdfe6);
$bbui-input-height-lg: var(--bbui-input-height-lg, 40px);
$bbui-input-height-md: var(--bbui-input-height-md, 30px);
$bbui-input-height-sm: var(--bbui-input-height-sm, 20px);
