$cls-prefix: bbui;
$bbui-border-radius: var(--bbui-border-radius, 2px);
$bbui-clean-color: var(--bbui-clean-color, #fff);
$bbui-disabled: var(--bbui-disabled, darkgrey);
$bbui-z-index: var(--bbui-dialog-z-index, 9999);
$bbui-dialog-mask: var(--bbui-dialog-mask, rgb(127 127 127 / 50%));
$bbui-dialog-padding: var(--bbui-dialog-padding, (28px 24px));
$bbui-dialog-border-radius: $bbui-border-radius;
$bbui-dialog-header-padding: var(--bbui-dialog-header-padding, (16px 0));
$bbui-font-size-header: var(--bbui-font-size-header, 20px);
$bbui-menu-hoverbg: var(--bbui-menu-hoverbg, #ecf5ff);
$bbui-menu-border: var(--bbui-menu-border, #dcdfe6);
$bbui-menu-brand: var(--bbui-menu-brand, #5e7ce0);
$bbui-menu-line-height: var(--bbui-menu-line-height, 24px);
$bbui-progress-bg: var(--bbui-progress-bg, rgb(231 234 242));
$bbui-message-bg: var(--bbui-message-bg, rgb(22 21 21 / 10%));
$bbui-message-font-size: var(--bbui-message-font-size, 24px);
$bbui-input-focus-border-color: var(--bbui-input-focus-border-color, #409eff);
$bbui-input-border-radius: var(--bbui-input-border-radius, 4px);
$bbui-input-border-color: var(--bbui-input-border-color, #dcdfe6);
$bbui-input-height-lg: var(--bbui-input-height-lg, 40px);
$bbui-input-height-md: var(--bbui-input-height-md, 30px);
$bbui-input-height-sm: var(--bbui-input-height-sm, 20px);
$bbui-input-padding: 16px 12px;
$bbui-select-hover-color: #f0f0f0;
$bbui-select-content-border-radius: $bbui-input-border-radius;
$bbui-select-line-height: 30px;
$bbui-select-height: 30px;
$bbui-upload-line-height: 30px;
$bbui-upload-li-height: 30px;
