.bbui-upload__input{
    display: none;
}
.bbui-upload__button{
    height: 40px;
    width: 130px;
    background-color: rgb(64,158,255);
    color: white;
    outline: none;
    font-size: 20px;
    line-height: 40px;
    border-radius: 5px;
}
.bbui-upload__list{
 
    li{
        list-style: none;
        height: 30px;
        line-height: 30px;
        background-color: #eee;
        border-radius: 5px;
       span{
        float: right;
        cursor: pointer;
        user-select: none;
       }
    }
}