@import '../../style-var/index';

.#{$cls-prefix}-upload-input {
  display: none;
}

.#{$cls-prefix}-upload-button {
  width: 130px;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  color: white;
  background-color: rgb(64 158 255);
  border-radius: 5px;
  outline: none;
}

.#{$cls-prefix}-upload-list {
  li {
    height: $bbui-upload-line-height;
    line-height: $bbui-upload-li-height;
    list-style: none;
    background-color: #eee;
    border-radius: 5px;

    span {
      float: right;
      cursor: pointer;
      user-select: none;
    }
  }
}
