.demo-block {
  border: solid 1px var(--vp-c-divider-light) !important;
}
.demo-block.hover {
  box-shadow: none !important;
}
.demo-block .source {
  overflow: unset !important;
}
.demo-block .source .demo-spacing > * {
  margin: 0 8px 8px 0;
}
.demo-block .source .demo-spacing > *:last-child {
  margin-right: 0;
}
.demo-block .source .demo-spacing:last-child > * {
  margin-bottom: 0;
}

.demo-block-control.is-fixed {
  border-right: solid 1px var(--vp-c-divider-light) !important;
}

.demo-block-control {
  background-color: var(--vp-c-brand-dimm) !important;
  border-top: solid 1px var(--vp-c-divider-light) !important;
  color: var(--vp-c-text-2) !important;
}
.demo-block-control:hover {
  color: var(--vp-c-text-1) !important;
}
.demo-block-control .control-button {
  color: var(--vp-c-text-1) !important;
}

.meta {
  border-top: solid 1px var(--vp-c-divider-light) !important;
  background-color: var(--vp-c-brand-dimm) !important;
}
.meta .description {
  border: solid 1px var(--vp-c-divider-light) !important;
  color: var(--vp-c-text-1) !important;
  background-color: var(--vp-c-bg) !important;
}

[class^='version-tag'] {
  display: inline-block;
  padding: 0 4px;
  line-height: 20px;
  color: #ffffff;
  border-radius: 4px;
}

.version-tag-1 {
  background-color: #3dcca6;
}

.version-tag-2 {
  background-color: #f66f6a;
}

.vp-doc [class~='language-css']:before {
  display: none;
}

.vp-doc [class~='language-javascript']:before {
  display: none;
}
