@import '../../style-var/index';

.#{$cls-prefix}-message-box__mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $bbui-z-index;
  width: 100%;
  height: 100vh;
  background-color: $bbui-message-bg;
}

.#{$cls-prefix}-message-box {
  position: absolute;
  top: 25vh;
  right: 0;
  left: 0;
  width: 480px;
  padding: 30px;
  margin: 0 auto;
  color: black;
  background-color: $bbui-clean-color;
  border-radius: 20px;
}

.#{$cls-prefix}-message-box__header {
  padding: 20px 0;
  font-size: $bbui-message-font-size;
  font-weight: 700;
}

.#{$cls-prefix}-message-box__default {
  min-height: 120px;
  padding: 30px 0;
}

.#{$cls-prefix}-message-box__footer {
  padding-top: 10px;
}
