// 用于重置一些样式
// .#{$cls-prefix}-menu-vertical,
// .#{$cls-prefix}-menu-horizontal{
//   a,
// }

.#{$cls-prefix}-menu__vertical,
.#{$cls-prefix}-menu__horizontal {
  a,
  a:hover,
  a:active,
  a:visited {
    text-decoration: none;
  }

  ul,
  li {
    list-style: none;
  }
}
