//水平的menu的样式
.#{$cls-prefix}-menu__horizontal {
  box-sizing: border-box;
  display: flex;
  padding: 10px 15px 0px 15px;
  line-height: 1.5;
  border-bottom: 1px solid #dcdfe6;

  .#{$cls-prefix}-menu-item {
    //为了为after伪元素提供定位
    position: relative;
    padding: 4px 20px;
    cursor: pointer;
    line-height: 24px;
    margin-top: 0px;

    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 18px;
      right: 18px;
      bottom: 0px;
      height: 2px;
      width: auto;
    }

    &:hover {
      background-color: #ecf5ff;
    }

    &:hover::after {
      background-color: rgb(27, 152, 110);
    }
  }

  .#{$cls-prefix}-submenu {
    margin: 0px;
    padding: 0px;
    position: relative;
    cursor: pointer;

    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 18px;
      right: 18px;
      bottom: 0px;
      height: 2px;
      width: auto;
    }

    &:hover {
    }

    &:hover::after {
      background-color: rgb(27, 152, 110);
    }

    div.#{$cls-prefix}-submenu--title {
      line-height: 24px;
      padding: 4px 15px;
      margin: 0;
    }

    div.#{$cls-prefix}-submenu--hor-con {
      position: absolute;
      z-index: 9999;
      transition: all 0.5s ease-in-out;
    }

    div.#{$cls-prefix}-submenu--hor-con-show {
      visibility: visible;
      position: absolute;
    }

    div.#{$cls-prefix}-submenu--hor-con-hidden{
      visibility: hidden;
      position: absolute;
    }

    //选项容器

    // div {
    //   span:nth-of-type(2) {
    //     box-sizing: border-box;
    //     display: inline-block;
    //     font-size: 10px;
    //     width: 14px;
    //     height: 14px;
    //     padding-left: 5px;
    //     transition: all 0.2s ease-in;
    //   }
    // }
  }

  // 禁用disabled的样式
  .#{$cls-prefix}-menu-item--disabled,
  .#{$cls-prefix}-submenu--disabled {
    cursor: not-allowed;
    color: darkgrey;

    &::after {
      content: unset;
    }
  }
}
