// 垂直的 menu 的样式
.#{$cls-prefix}-menu__vertical {
  border-right: 1px solid $bbui-menu-border;

  .#{$cls-prefix}-menu-item {
    // 为了为 after 伪元素提供定位
    position: relative;
    padding: 10px 20px;
    margin-top: 0;
    line-height: $bbui-menu-line-height;
    cursor: pointer;

    &:hover {
      background-color: #ecf5ff;
      border-right: 2px solid $bbui-menu-brand;
    }
  }

  .#{$cls-prefix}-menu-item--disabled {
    color: $bbui-disabled;
    cursor: not-allowed;

    &:hover {
      border-right: 0;
    }
  }
}
