$bbui-global-bg: var(--bbui-global-bg, #f3f6f8);
$bbui-global-bg-normal: var(--bbui-global-bg-normal, #ffffff);
$bbui-base-bg: var(--bbui-base-bg, #ffffff);
$bbui-base-bg-dark: var(--bbui-base-bg-dark, #333854);
$bbui-brand: var(--bbui-brand, #5e7ce0);
$bbui-brand-foil: var(--bbui-brand-foil, #859bff);
$bbui-brand-hover: var(--bbui-brand-hover, #7693f5);
$bbui-brand-active: var(--bbui-brand-active, #526ecc);
$bbui-brand-active-focus: var(--bbui-brand-active-focus, #344899);
$bbui-contrast: var(--bbui-contrast, #c7000b);
$bbui-text: var(--bbui-text, #252b3a);
$bbui-text-weak: var(--bbui-text-weak, #575d6c);
$bbui-aide-text: var(--bbui-aide-text, #8a8e99);
$bbui-aide-text-stress: var(--bbui-aide-text-stress, #575d6c);
$bbui-placeholder: var(--bbui-placeholder, #8a8e99);
$bbui-light-text: var(--bbui-light-text, #ffffff);
$bbui-dark-text: var(--bbui-dark-text, #252b3a);
$bbui-link: var(--bbui-link, #526ecc);
$bbui-link-active: var(--bbui-link-active, #526ecc);
$bbui-link-light: var(--bbui-link-light, #96adfa);
$bbui-link-light-active: var(--bbui-link-light-active, #beccfa);
$bbui-line: var(--bbui-line, #adb0b8);
$bbui-dividing-line: var(--bbui-dividing-line, #dfe1e6);
$bbui-block: var(--bbui-block, #ffffff);
$bbui-area: var(--bbui-area, #f8f8f8);
$bbui-danger: var(--bbui-danger, #f66f6a);
$bbui-warning: var(--bbui-warning, #fac20a);
$bbui-waiting: var(--bbui-waiting, #9faad7);
$bbui-success: var(--bbui-success, #50d4ab);
$bbui-info: var(--bbui-info, #5e7ce0);
$bbui-initial: var(--bbui-initial, #e9edfa);
$bbui-unavailable: var(--bbui-unavailable, #f5f5f6);
$bbui-shadow: var(--bbui-shadow, rgba(0, 0, 0, 0.2));
$bbui-light-shadow: var(--bbui-light-shadow, rgba(0, 0, 0, 0.1));
$bbui-icon-text: var(--bbui-icon-text, #252b3a);
$bbui-icon-bg: var(--bbui-icon-bg, #ffffff);
$bbui-icon-fill: var(--bbui-icon-fill, #d3d5d9);
$bbui-icon-fill-hover: var(--bbui-icon-fill-hover, #adb5ce);
$bbui-icon-fill-active: var(--bbui-icon-fill-active, #5e7ce0);
$bbui-icon-fill-active-hover: var(--bbui-icon-fill-active-hover, #526ecc);
$bbui-form-control-line: var(--bbui-form-control-line, #adb0b8);
$bbui-form-control-line-hover: var(--bbui-form-control-line-hover, #575d6c);
$bbui-form-control-line-active: var(--bbui-form-control-line-active, #5e7ce0);
$bbui-form-control-line-active-hover: var(--bbui-form-control-line-active-hover, #344899);
$bbui-list-item-active-bg: var(--bbui-list-item-active-bg, #5e7ce0);
$bbui-list-item-active-text: var(--bbui-list-item-active-text, #ffffff);
$bbui-list-item-active-hover-bg: var(--bbui-list-item-active-hover-bg, #526ecc);
$bbui-list-item-hover-bg: var(--bbui-list-item-hover-bg, #f2f5fc);
$bbui-list-item-hover-text: var(--bbui-list-item-hover-text, #526ecc);
$bbui-list-item-selected-bg: var(--bbui-list-item-selected-bg, #e9edfa);
$bbui-list-item-strip-bg: var(--bbui-list-item-strip-bg, #f2f5fc);
$bbui-disabled-bg: var(--bbui-disabled-bg, #f5f5f6);
$bbui-disabled-line: var(--bbui-disabled-line, #dfe1e6);
$bbui-disabled-text: var(--bbui-disabled-text, #adb0b8);
$bbui-primary-disabled: var(--bbui-primary-disabled, #beccfa);
$bbui-icon-fill-active-disabled: var(--bbui-icon-fill-active-disabled, #beccfa);
$bbui-label-bg: var(--bbui-label-bg, #eef0f5);
$bbui-connected-overlay-bg: var(--bbui-connected-overlay-bg, #ffffff);
$bbui-connected-overlay-line: var(--bbui-connected-overlay-line, #526ecc);
$bbui-fullscreen-overlay-bg: var(--bbui-fullscreen-overlay-bg, #ffffff);
$bbui-feedback-overlay-bg: var(--bbui-feedback-overlay-bg, #464d6e);
$bbui-feedback-overlay-text: var(--bbui-feedback-overlay-text, #dfe1e6);
$bbui-embed-search-bg: var(--bbui-embed-search-bg, #f2f5fc);
$bbui-embed-search-bg-hover: var(--bbui-embed-search-bg-hover, #eef0f5);
$bbui-float-block-shadow: var(--bbui-float-block-shadow, rgba(94, 124, 224, 0.3));
$bbui-highlight-overlay: var(--bbui-highlight-overlay, rgba(255, 255, 255, 0.8));
$bbui-range-item-hover-bg: var(--bbui-range-item-hover-bg, #e9edfa);
$bbui-primary: var(--bbui-primary, #5e7ce0);
$bbui-primary-hover: var(--bbui-primary-hover, #7693f5);
$bbui-primary-active: var(--bbui-primary-active, #344899);
$bbui-contrast-hover: var(--bbui-contrast-hover, #d64a52);
$bbui-contrast-active: var(--bbui-contrast-active, #b12220);
$bbui-danger-line: var(--bbui-danger-line, #f66f6a);
$bbui-danger-bg: var(--bbui-danger-bg, #ffeeed);
$bbui-warning-line: var(--bbui-warning-line, #fa9841);
$bbui-warning-bg: var(--bbui-warning-bg, #fff3e8);
$bbui-info-line: var(--bbui-info-line, #5e7ce0);
$bbui-info-bg: var(--bbui-info-bg, #f2f5fc);
$bbui-success-line: var(--bbui-success-line, #50d4ab);
$bbui-success-bg: var(--bbui-success-bg, #edfff9);
$bbui-primary-line: var(--bbui-primary-line, #5e7ce0);
$bbui-primary-bg: var(--bbui-primary-bg, #f2f5fc);
$bbui-default-line: var(--bbui-default-line, #5e7ce0);
$bbui-default-bg: var(--bbui-default-bg, #f3f6f8);
$bbui-font-size: var(--bbui-font-size, 12px);
$bbui-font-size-card-title: var(--bbui-font-size-card-title, 14px);
$bbui-font-size-page-title: var(--bbui-font-size-page-title, 16px);
$bbui-font-size-modal-title: var(--bbui-font-size-modal-title, 18px);
$bbui-font-size-price: var(--bbui-font-size-price, 20px);
$bbui-font-size-data-overview: var(--bbui-font-size-data-overview, 24px);
$bbui-font-size-icon: var(--bbui-font-size-icon, 16px);
$bbui-font-size-sm: var(--bbui-font-size-sm, 12px);
$bbui-font-size-md: var(--bbui-font-size-md, 12px);
$bbui-font-size-lg: var(--bbui-font-size-lg, 14px);
$bbui-font-title-weight: var(--bbui-font-title-weight, bold);
$bbui-font-content-weight: var(--bbui-font-content-weight, normal);
$bbui-line-height-base: var(--bbui-line-height-base, 1.5);
$bbui-border-radius: var(--bbui-border-radius, 2px);
$bbui-border-radius-feedback: var(--bbui-border-radius-feedback, 4px);
$bbui-border-radius-card: var(--bbui-border-radius-card, 6px);
$bbui-shadow-length-base: var(--bbui-shadow-length-base, 0 1px 4px 0);
$bbui-shadow-length-slide-left: var(--bbui-shadow-length-slide-left, -2px 0 8px 0);
$bbui-shadow-length-slide-right: var(--bbui-shadow-length-slide-right, 2px 0 8px 0);
$bbui-shadow-length-connected-overlay: var(--bbui-shadow-length-connected-overlay, 0 2px 8px 0);
$bbui-shadow-length-hover: var(--bbui-shadow-length-hover, 0 4px 16px 0);
$bbui-shadow-length-feedback-overlay: var(--bbui-shadow-length-feedback-overlay, 0 4px 16px 0);
$bbui-shadow-fullscreen-overlay: var(--bbui-shadow-fullscreen-overlay, 0 8px 40px 0);
$bbui-animation-duration-slow: var(--bbui-animation-duration-slow, 300ms);
$bbui-animation-duration-base: var(--bbui-animation-duration-base, 200ms);
$bbui-animation-duration-fast: var(--bbui-animation-duration-fast, 100ms);
$bbui-animation-ease-in: var(--bbui-animation-ease-in, cubic-bezier(0.5, 0, 0.84, 0.25));
$bbui-animation-ease-out: var(--bbui-animation-ease-out, cubic-bezier(0.16, 0.75, 0.5, 1));
$bbui-animation-ease-in-out: var(--bbui-animation-ease-in-out, cubic-bezier(0.5, 0.05, 0.5, 0.95));
$bbui-animation-ease-in-smooth: var(--bbui-animation-ease-in-smooth, cubic-bezier(0.645, 0.045, 0.355, 1));
$bbui-animation-linear: var(--bbui-animation-linear, cubic-bezier(0, 0, 1, 1));
$bbui-z-index-full-page-overlay: var(--bbui-z-index-full-page-overlay, 1080);
$bbui-z-index-pop-up: var(--bbui-z-index-pop-up, 1060);
$bbui-z-index-dropdown: var(--bbui-z-index-dropdown, 1052);
$bbui-z-index-modal: var(--bbui-z-index-modal, 1050);
$bbui-z-index-drawer: var(--bbui-z-index-drawer, 1040);
$bbui-z-index-framework: var(--bbui-z-index-framework, 1000)