.bbui-select {
  width: 200px;

  // height: 30px;
  cursor: pointer;

  input {
    width: 100%;
    padding-left: 5px;
    cursor: pointer;
    border: 1px solid rgb(221 224 231);

    &:focus {
      border: 1px solid rgb(50 222 235);
    }
  }

  .bbui-select-content {
    width: 100%;

    // height: 50px;
    // background-color: pink;
    margin-top: 5px;
    border: 1px solid rgb(221 224 231);
    border-radius: 1px solid #ccc;

    li {
      height: 30px;
      padding-left: 5px;
      line-height: 30px;
      list-style: none;

      &:hover {
        background-color: #f0f0f0;
      }
    }

    li.li-disabled {
      color: rgb(174 174 174);
      cursor: not-allowed;
    }
  }

  .bbui-select-disabled {
    cursor: not-allowed;
  }
}

.bbui-select-small {
  width: 150px;
}

.bbui-select-big {
  width: 300px;
}

.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}
