@import '../../../../style-var/index';

.#{$cls-prefix}-row {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;

  &--justify {
    &-center {
      justify-content: center;
    }

    &-start {
      justify-content: start;
    }

    &-end {
      justify-content: end;
    }

    &-space-between {
      justify-content: space-between;
    }

    &-space-around {
      justify-content: space-around;
    }
  }

  &--align {
    &-top {
      align-items: flex-start;
    }

    &-middle {
      align-items: center;
    }

    &-bottom {
      align-items: flex-end;
    }
  }
}
